<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"></meta>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"></meta>
    <meta content="" name="description"></meta>
    <meta content="" name="author"></meta>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav " role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="~/Content/Images/FormdataBI_logo.png" />
              @*  <a class="navbar-brand" href="#">I-eReporter</a>*@
            </div>
            
            <div class="navbar-collapse collapse">
                 @if (Request.IsAuthenticated)
                 {
                     <ul class="nav navbar-nav">
                         <li class="active"><a href="/home/index">Home</a></li>
                         <li><a href="/home/dashboard">DashBoard</a></li>
                         <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                             <ul class="dropdown-menu">
                                 <li><a href="/Client">Clients</a></li>
                                 <li class="divider"></li>
                                
                                 <li><a href="/User">Users</a></li>
                                 <li><a href="@Url.Content("~/Location")">Locations</a></li>
                                 
                             </ul>
                         </li>
                         <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                             <ul class="dropdown-menu">
                                <li><a href="@Url.Content("~/ReportGroup")">Report Groups</a></li>
                                 <li><a href="@Url.Content("~/ReportGroupItem")">Report Groups Item</a></li>
                                  <li><a href="@Url.Content("~/Configuration/ReportServer")">Report Server </a></li>
                             </ul>
                         </li>
                         <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                             <ul class="dropdown-menu">
                                <li><a href="@Url.Content("~/ReportMenu")">Safaricom Report </a></li>
                                
                                
                             </ul>
                         </li>
                     </ul>
                 }
                <ul class="nav" style="float: right">
                    @if (Request.IsAuthenticated)
                    {
                       
                        <li><a href="@Url.Content("~/account/Logout")">Logout</a></li>
                    }

                </ul>
            </div>
            
            <!--/.nav-collapse -->
        </div>
    </div>
    <br />
    <div class="container theme-showcase">
      
       

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
