<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")

    <link href="/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/content/backgrid/backgrid.css" rel="stylesheet" media="screen">
    <link href="/content/backgrid/backgrid-paginator.css" rel="stylesheet" media="screen">
    <link href="/content/backgrid/backgrid-filter.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
        <div style="float: right; vertical-align: top">
            @if (!Request.IsAuthenticated)
            {
                <a href="/account/login">Login</a><text>|</text>
                <a href="/home/register#register">Register</a>
            }
            else
            {
                 
                <a href="/Account/Logout">Logout</a>
            }
        </div>
        <div class="masthead">
            <h3 class="muted">Small hulk</h3>

            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        @if (Request.IsAuthenticated)
                        {
                            <ul class="nav">
                                <li class="active"><a href="/#">Home</a></li>
                                <li class="divider-vertical"></li>
                               
                                <li>
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Transaction
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/#/users">Sales</a></li>
                                            <li><a href="/#/users">Orders</a></li>
                                            <li><a href="/#/users">Invoicing</a></li>
                                             <li><a href="/#/users">Delivery</a></li>
                                        </ul>
                                    </div>
                                </li>
                                 <li class="divider-vertical"></li>
                               
                                <li>
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Security
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/#/users">Users</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="divider-vertical"></li>
                                <li>
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Admin
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/#/categories">Category</a></li>
                                            <li><a href="/#/products">Product</a></li>
                                            <li><a href="/#/listroutes">Route</a></li>
                                            <li><a href="/#/customers">Customer</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="divider-vertical"></li>
                                <li>
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Settings
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/#/users">Category</a></li>
                                            <li><a href="/#/users">Product</a></li>
                                        </ul>
                                    </div>
                                </li>
                                 <li class="divider-vertical"></li>
                               
                                <li>
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Analytics
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/#/users">Reports</a></li>
                                            <li><a href="/#/users">Maps</a></li>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        }
                    </div>
                </div>
            </div>
            <!-- /.navbar -->
        </div>
        <div>
            @RenderBody()
        </div>



        <div class="footer">
            <p>© Company 2013</p>
        </div>

    </div>
    <!-- /container -->



    @RenderSection("scripts", required: false)
    <script data-main="/js/main" src="/js/libs/require/require.js"></script>
    @*  <script src="/Content/bootstrap/js/bootstrap.min.js"></script>*@
</body>
</html>


