<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">

        <div class="masthead">
            <h3 class="muted">Small hulk</h3>
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">Reports</a></li>
                            <li><a href="home#/showUsers">Profile</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle"
                                    data-toggle="dropdown"
                                    href="#">Dropdown<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Profile</a></li>
                                    <li><a href="#">Profile</a></li>
                                    <li><a href="#">Profile</a></li>
                                     <li><a href="#">Profile</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.navbar -->
        </div>
        <div>
            @RenderBody()
        </div>



        <div class="footer">
            <p>© Company 2013</p>
        </div>

    </div>
    <!-- /container -->


    @*@Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
    <script data-main="js/main" src="/js/libs/require/require.js"></script>
  @*  <script src="/Content/bootstrap/js/bootstrap.min.js"></script>*@
</body>
</html>


