
@using MvcPaging
@model IPagedList<TDR.WEB.LIB.DTOS.Forms.FormDTO>
@{
    ViewBag.Title = "Index";
}
<div class="page-header">
    <h1>Forms</h1>
</div>

    <div class="row">
        <div class="col-xs-6 ">
            <div class="form-group">
                 @Html.ActionLink("New", "CreateForm",null,new { @class="btn btn-primary"})
            </div>
        </div>
        <div class="col-xs-6 ">
            <div class="col-lg-offset-4">
                <div class="col-lg-9">
                    <input type="text" name="search" class="form-control" id="inputSearch" placeholder="Search">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
   
    <table class="table table-bordered table-hover ">
        <thead>
            <tr>
            <th>
                Name
            </th>
            <th>
                Code
            </th>
            <th>
                Client
            </th>
                <th>
              
            </th>
            <th>
                Respondent Type
            </th>
                 <th>
                Items
            </th>

        </thead>
        <tbody>
            @foreach (var item in Model)
            { 
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Code
                    </td>
                    <td>
                        @item.ClientName
                    </td>
                    <td>
                         <a href="@Url.Action("EditForm", "WebForm",new {id=item.Id})"> <span class="glyphicon glyphicon-pencil"></span></a>
                       
                        
                    </td>
                    <td>
                        <a href="@Url.Action("RespondentType", "WebForm",new {formId=item.Id})"> RespondentType</a>
                        
                    </td>
                    <td>
                        
                         <a href="@Url.Action("FormItems", "WebForm",new {formId=item.Id})"> Items</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

 
      @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
			.DisplayTemplate("BootstrapPagination")
			.MaxNrOfPages(14)
			.AlwaysAddFirstPageNumber()
		)
       

  
	
    @section scripts
  {
     
    <script type="text/javascript" >
        window.pageload = function () {
          
        }
    </script>
}