@model TDR.WEB.LIB.DTOS.Locations.LocationDTO

@{
    ViewBag.Title = "Edit";
}

<div class="page-header">
    <h1>Location Form </h1>
</div>

@using (Html.BeginForm("Edit", "Location", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
     @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <label for="Username" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-5">
              @Html.TextBoxFor(model => model.Name,new {@placeholder="Name",@class="form-control"})
            @Html.ValidationMessageFor(model => model.Name )
           @* <input type="text" class="form-control" id="inputUsername" placeholder="Username">*@
        </div>
    </div>
    <div class="form-group">
        <label for="Code" class="col-lg-2 control-label">Code</label>
        <div class="col-lg-5">
            @Html.TextBoxFor(model => model.Code,new {@placeholder="Code",@class="form-control"})
            @Html.ValidationMessageFor(model => model.Code )
            @*<input type="text" class="form-control" id="inputFullname" placeholder="Full Name">*@
        </div>
    </div>
    <div class="form-group">
        <label for="Description" class="col-lg-2 control-label">Description</label>
        <div class="col-lg-5">
            @Html.TextBoxFor(model => model.Description,new {@placeholder="Description",@class="form-control"})
            @Html.ValidationMessageFor(model => model.Description )
            @*<input type="text" class="form-control" id="inputFullname" placeholder="Full Name">*@
        </div>
    </div>
    <div class="form-group">
        <label for="LocationStructureId" class="col-lg-2 control-label">Location Type</label>
        <div class="col-lg-5">
              @Html.DropDownListFor(model => model.LocationStructureId, new SelectList(ViewBag.LocationStructureList,"Value","Text"),"-----------",new {@placeholder="Location Type",@class="form-control"})
            @Html.ValidationMessageFor(model => model.LocationStructureId )
           @* <input type="text" class="form-control" id="inputUserType" placeholder="User Type">*@
        </div>
    </div>
    <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
}

<div>
    @Html.ActionLink("Back", "Index",null,new { @class="btn btn-default"})
</div>


  @section scripts
{@Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" >
        window.pageload = function () {
          
        }
    </script>
}